.STEP__topBar-progress-5 {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 23px;
  width: 400px;
}

.STEP__topBar-progress-value-5 {
  animation: load5 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 23px;
  width: 0;
}

@keyframes load5 {
  0% {
    width: 64%;
  }
  100% {
    width: 80%;
  }
}

.STEP__five-container {
  height: 500px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.STEP__five-problem {
  display: flex;
  gap: 30px;
}

.STEP__five-problem button {
  width: 150px;
  height: 60px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.STEP__five-radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.STEP__five-grid-1 input {
  margin-bottom: 15px;
}

.STEP__five-grid-1 div {
  display: flex;
  gap: 5px;
}
