.HERO__main-container {
  display: flex;

  height: 90vh;
}

.HERO__left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HERO__mid-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.HERO__title {
  font-size: 36px;
  margin-bottom: 80px;
}

.HERO__chose-container {
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  z-index: 1;
}

.HERO__item-dog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.HERO__single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  height: 80%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.HERO__single-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.HERO__item-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.HERO__right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HERO__cat-img {
  width: 220px;
}

h2 {
  padding-top: 20px;
  font-size: 30px;
}

.HERO__baner-main {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
  border-radius: 10px;
  color: black;
  padding-top: 20px;
}

.HERO__mini-baner-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  border-right: 1px solid #ddd;
  margin: 10px;
}

.HERO__icons-bottom-baner {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.HERO__mini-baner-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  border-right: 1px solid #ddd;
  margin: 10px;
}

.HERO__mini-baner-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin: 10px;
}

.HERO__icons-bottom-baner p {
  margin: 10px;
}

.HERO__dog-container {
  position: absolute;
  z-index: 999;
}

.HERO__circle {
  width: 350px;
  height: 350px;
  background-color: #08284a;
  border-radius: 50%;
  position: relative;
  left: 150px;
}

.HERO__circl-1 {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  right: 175px;
}

.HERO__circle-3 {
  width: 350px;
  height: 350px;
  border: 12px dotted #08284a;
  border-radius: 50%;
  position: absolute;
  bottom: 260px;
}
