.STEP__topBar-progress-3 {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 23px;
  width: 400px;
}

.STEP__topBar-progress-value-3 {
  animation: load3 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 23px;
  width: 0;
}

@keyframes load3 {
  0% {
    width: 32%;
  }
  100% {
    width: 48%;
  }
}

.STEPTHREE-constainer {
  background-color: #fff;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.STEPTHREE-constainer-img {
  width: 120px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.STEPTHREE-img {
  width: 50px;
  height: 50px;
}

.mb-80 {
  margin-top: 50px;
}
